/* ===========================
   TABEL JADWAL
=========================== */

.kelas{
    font-weight:bold;
    font-size:24px;
}

.mapel{
    font-weight:bold;
    color:#FFD54F;
}

.guru{
    color:#FFFFFF;
}

.mapel-next{
    color:#90CAF9;
}

.guru-next{
    color:#E0E0E0;
}

tbody tr:hover{
    background:#123B82;
    transition:.3s;
}
