/* ==================================
   GLOBAL
================================== */


*{

box-sizing:border-box;

}


body{

margin:0;

padding:0;

font-family:
Arial,
Helvetica,
sans-serif;

background:#061a40;

color:white;

height:100vh;

overflow:hidden;

}




.container{

width:100%;

height:100vh;

padding:15px;

display:flex;

flex-direction:column;

}





/* ==================================
   HEADER
================================== */


header{

height:18%;

display:flex;

align-items:center;

justify-content:space-between;

background:#0b2d6b;

border-radius:15px;

padding:15px 25px;

}





.logo img{

width:90px;

height:90px;

object-fit:contain;

}




.identitas{

text-align:center;

flex:1;

}



.identitas h1{

margin:0;

font-size:40px;

font-weight:bold;

}



.identitas h3{

margin:10px 0;

font-size:22px;

}




.clock{

font-size:45px;

font-weight:bold;

background:#f4c430;

color:#061a40;

padding:15px 25px;

border-radius:12px;

}






/* ==================================
   INFORMASI JAM
================================== */


.info{

height:15%;

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:15px;

margin-top:15px;

}




.box{

background:#0b2d6b;

border-radius:15px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}



.box h3{

margin:0;

font-size:20px;

}



.box h1{

margin:5px;

font-size:42px;

color:#f4c430;

}






/* ==================================
   TABEL JADWAL
================================== */


.jadwal{

height:57%;

margin-top:15px;

overflow:hidden;

}




table{

width:100%;

height:100%;

border-collapse:collapse;

table-layout:fixed;

}



th{

background:#f4c430;

color:#061a40;

font-size:20px;

padding:10px;

}



td{

background:#0b2d6b;

border:2px solid #061a40;

text-align:center;

font-size:22px;

padding:8px;

}



tbody tr{

height:11%;

}





/* ukuran kolom */


th:nth-child(1),
td:nth-child(1){

width:12%;

}



th:nth-child(2),
td:nth-child(2){

width:23%;

}



th:nth-child(3),
td:nth-child(3){

width:18%;

}



th:nth-child(4),
td:nth-child(4){

width:27%;

}



th:nth-child(5),
td:nth-child(5){

width:20%;

}







/* ==================================
   BUTTON FULLSCREEN
================================== */


#btnFullscreen{


height:50px;

margin-top:10px;

border:none;

border-radius:10px;

background:#f4c430;

color:#061a40;

font-size:22px;

font-weight:bold;

cursor:pointer;

}




#btnFullscreen:hover{

opacity:0.8;

}






/* ==================================
   MODE FULLSCREEN
================================== */


:fullscreen body{

background:#061a40;

}



:fullscreen .container{

padding:20px;

}







/* ==================================
   RESPONSIVE
================================== */


@media(max-width:1000px){


.identitas h1{

font-size:28px;

}


.clock{

font-size:32px;

}



td{

font-size:16px;

}


th{

font-size:15px;

}


.box h1{

font-size:30px;

}



}
